/* Coolor CSS HEX 
--charleston-green: #272d2dff;
--cambridge-blue: #a3bbadff;
--copper-red: #d1603dff;
--titanium-yellow: #f0e100ff;
--bright-navy-blue: #2d7dd2ff;
*/



/* Icon */

#circle-outer {
  height: 200px;
  width: 200px;
  background-color: red;
  position: absolute;
  margin-left: 200px;
  border-radius: 50%;
}

#circle-inner {
    background: url(../assets/marliese-streefland-2l0CWTpcChI-unsplash-small.jpg) center center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    
}

header {
    background-color: #272d2dff;
    margin: 0 auto;
    padding: 0%;
    color: #a3bbadff;
}

body {
    background-color: #272d2dff;
}

/* Title */

.title {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 60px;
    padding-bottom: 0px;
    margin: 0 auto;
}

/*Nav bar */

nav ul {
    text-align: center;
    font-size: 30px;
}

nav a:hover {
    border-bottom: 1px solid #a3bbadff;
}

.active {
    color: white;
}

nav li {
    list-style-type: none;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    letter-spacing: 2px;
}

#menu li a {
    text-decoration: none;
    color: #a3bbadff;
}

/* Home Images */

.home-images {
    float: left;
    margin: 0%;
    padding: 0%;
    height: 50%;
    width: 45%;
}

/* Tagline */

#tagline {
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: #272d2dff;
    width: 100%;
    padding: 0%;
    margin: 0 auto;
    color: #a3bbadff;
}

.middle-section {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: white;
}

#dogs-in-need {
    width: 40%;
    height: 100px;
    margin: 5%;
    display: inline-block;
}

#health {
    width: 40%;
    height: 100px;
    margin: 5%;
    display: inline-block;
}

/* About Us */

#history, #mission, #values {
    width: 50%;
    position: static;
    border: solid 2px black;
    display: inline-block;
}

#mission li {
    list-style-type: none;
}

#values li {
    list-style-type: none;
}

/* Map */

#map {
    width: 100%;
}

/* Dog Bios */
.dogs {
    width: 50%;
    height: 400px;
    background-color: red;
}

#rossi {
    background: url(../assets/Rossi.jpg) center center no-repeat;
    background-size: contain;   
}

/* Footer */

.socials {
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 5%;
    background-color: #272d2dff;
    color: #a3bbadff;
}

footer ul {
    text-align: center;
    margin-bottom: 0px;
}

footer li {
    list-style-type: none;
    display: inline-block;
    padding: 50px 150px 0px 150px;
    font-size: 150%;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 0px;
}

footer li a {
    color: #a3bbadff;
}